 # Table of Contents
<div class="toc" style="margin-top: 1em;"><ul class="toc-item" id="toc-level0"><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#TP---Construire-un-modèle-de-prédiction-de-la-fréquence-des-sinistres" data-toc-modified-id="TP---Construire-un-modèle-de-prédiction-de-la-fréquence-des-sinistres-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>TP - Construire un modèle de prédiction de la fréquence des sinistres</a></span><ul class="toc-item"><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Hypothèses" data-toc-modified-id="Hypothèses-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Hypothèses</a></span></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Modèle-fréquence-*-coût-moyen" data-toc-modified-id="Modèle-fréquence-*-coût-moyen-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Modèle fréquence * coût moyen</a></span></li></ul></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Output-à-m'envoyer" data-toc-modified-id="Output-à-m'envoyer-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Output à m'envoyer</a></span></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Importation-des-modules-nécessaires" data-toc-modified-id="Importation-des-modules-nécessaires-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Importation des modules nécessaires</a></span></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Chargement-des-données" data-toc-modified-id="Chargement-des-données-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Chargement des données</a></span></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Construction-de-la-base-d'apprentissage" data-toc-modified-id="Construction-de-la-base-d'apprentissage-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Construction de la base d'apprentissage</a></span></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Modélisation" data-toc-modified-id="Modélisation-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Modélisation</a></span></li><li><span><a href="http://localhost:8888/notebooks/seance3%264/TP%20-%20Construire%20un%20mod%C3%A8le%20de%20pr%C3%A9diction%20de%20la%20fr%C3%A9quence%20des%20sinistres.ipynb#Export-de-la-prédiction-en-.csv" data-toc-modified-id="Export-de-la-prédiction-en-.csv-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Export de la prédiction en .csv</a></span></li></ul></div>

# TP - Construire un modèle de prédiction de la fréquence des sinistres

Le but du projet est de construire un modèle prédictif de la fréquence de survenance des sinistres pour un portefeuille d'assurances auto. Les données étudiées sont téléchargeable à l'adresse : http://freakonometrics.hypotheses.org/50078

Pour un portefeuille d'assurances auto comprenant $n$ polices, soient $(S_i)_{i=1,..,n}$ les variables aléatoires qui représentent le coût de la sinistralité annuelle totale de la police $i$ (pour une année donnée), $M_i$ le nombre de sinistres survenus pour la police $i$ pendant l'année, et $X_i$ le vecteur de caractéristiques du contrat.

Alors on peut écrire que :

$$S_i = \sum_{j=1}^{M_i} S_{i,j}$$

avec $(S_{i,j})_{\substack{i = 1,..,n \\ j = 1,..,M_i}}$ les coûts individuels des sinistres.

## Hypothèses
1) En assurance auto, on peut supposer qu'il n'y a pas de lien entre les sinistres survenus pour des polices distinctes. Ainsi, on fait l'hypothèse que les groupes de variables $(S_i, M_i, X_i, (S_{i,j})_{j = 1,..,M_i})_{i=1,..,n}$ sont i.i.d. pour des $i$ distincts.

2) On fait également l'hypothèse suivante pour tout $i$ fixé : $\forall j = 1,..,M_i, ~~ S_{i,j} ~\unicode{x2AEB}~ M_i ~|~ X_i$. C'est à dire que si l'on connaissait $X_i$, alors connaitre en plus $M_i$ ne nous donnerait pas plus d'information sur les $S_{i,j}$.

3) On suppose enfin que pour tout $i$ fixé, les variable $(S_{i,j})_{j = 1,..,M_i}$ sont i.i.d. C'est à dire que l'on suppose que les coûts des sinistres individuels sont indépendants et de même distribution pour une police données.

## Modèle fréquence * coût moyen

Sous les hypothèses du paragraphe précédent, on peut faire le calcul suivant :

\begin{align*}
E[S_i |X_i] & = E\left[ \sum_{j=1}^{M_i} S_{i,j}~ | ~X_i \right] \\
& = E \left[ E \left[ \sum_{j=1}^{M_i} S_{i,j}~ | ~M_i, X_i \right] |~X_i\right] \\
& = E \left[ \sum_{j=1}^{M_i} E \left[ S_{i,j}~ | ~M_i, X_i \right] |~X_i\right] \\
& = E \left[ \sum_{j=1}^{M_i} E \left[ S_{i,j}~ | ~X_i \right] |~X_i\right] (hyp. 2))\\
& = E \left[ M_i \cdot E \left[ S_{i,j}~ | ~X_i \right] |~X_i\right] (hyp. 3))\\
& = \underset{\text{fréquence}}{\underbrace{E \left[ M_i ~|~X_i\right]}} \cdot \underset{\text{coût moyen}}{\underbrace{E \left[ S_{i,j}~ | ~X_i \right]}}
\end{align*}

Ce qui explique la modélisation sous la forme Fréquence * coût moyen

# Output à m'envoyer

La base `data_prospect1` contient les informations sur les clients de la base, mais actualisées pour l'année suivante (année 1, qui fait suite à l'année 0). 

Certaines informations ont donc évoluées :

* Peut-être que certains assurés ont changé de voiture (ou pas ?)
* Un certain nombre de variable ont été incrémentées d'une année : `drv_age1`, `drv_age2`, `drv_age_lic1`, `drv_age_lic2`, `vh_sale_begin`, `...`
* Et bien d'autres choses encore...


Vous devez m'envoyer votre prédiction de la fréquence pour les sinistres qui vont se produire pendant l'année 1, pour chacune des 100000 polices d'assurance de la base `data_prospect1`.

Pour cela, je vous demande de me transmettre un fichier ".csv" qui comporte 2 colonnes :

* une colonne `id_policy`, qui correspond à l'identifiant de police d'assurance qui est présent dans la base `data_prospect1`
* une colonne `prediction` qui donne votre prédiction associée à l'identifiant
* (+ une colonne indice de ligne qui est présente par défaut (voir §7))

Exemple :

id_policy | prediction
--- | ---
A00000001-V01 | 0.3
A00000001-V02 | 0.001
A00000001-V03 | 0.07
A00000001-V04 | 0.0009
A00000001-V05 | 0.0074
... | ...

Ce fichier doit comporter 100000 lignes (ou 100001 si l'on compte la ligne avec le nom des colonnes)

# Importation des modules nécessaires

In [1]:
# Manipulation de données
import pandas as pd # importation du module pandas sous le nom "pd"
import numpy as np # importation du module numpy sous le nom "np"

# modifie l'affichage pandas par defaut pour dataframe.head()
pd.set_option('display.max_columns', 500)

# Chargement des données

In [3]:
data_claim0 = pd.read_csv(filepath_or_buffer= "data/PG_2017_CLAIMS_YEAR0.csv", 
                          sep = ",",
                          decimal = ".",
                          na_values = [""," "])
data_prospect0 = pd.read_csv(filepath_or_buffer = "data/PG_2017_YEAR0.csv",
                            sep = ",",
                          decimal = ".",
                          na_values = [""," "])
data_prospect1 = pd.read_csv(filepath_or_buffer = "data/PG_2017_YEAR1.csv",
                            sep = ",",
                          decimal = ".",
                          na_values = [""," "])

In [4]:
data_claim0.head()

   id_client id_vehicle id_year id_claim  claim_nb  claim_amount
0  A00000009        V01  Year 0     CL01         1        927.16
1  A00000016        V01  Year 0     CL01         1        555.48
2  A00000026        V01  Year 0     CL01         1        478.01
3  A00000040        V01  Year 0     CL01         1        512.83
4  A00000056        V01  Year 0     CL01         1       1236.00

In [5]:
data_prospect0.head()

,id_client,id_vehicle,id_policy,id_year,pol_bonus,pol_coverage,pol_duration,pol_sit_duration,pol_pay_freq,pol_payd,pol_usage,pol_insee_code,drv_drv2,drv_age1,drv_age2,drv_sex1,drv_sex2,drv_age_lic1,drv_age_lic2,vh_age,vh_cyl,vh_din,vh_fuel,vh_make,vh_model,vh_sale_begin,vh_sale_end,vh_speed,vh_type,vh_value,vh_weight
0,A00000001,V01,A00000001-V01,Year 0,0.5,Maxi,29,9,Biannual,No,Retired,36233,No,85,0,M,NaN,62,0,10.0,1587,98,Gasoline,PEUGEOT,306,10,9,182,Tourism,20700,1210
1,A00000002,V01,A00000002-V01,Year 0,0.5,Maxi,3,1,Biannual,No,Retired,92073,No,69,0,M,NaN,39,0,4.0,2149,170,Diesel,MERCEDES BENZ,C220,4,2,229,Tourism,34250,1510
2,A00000003,V01,A00000003-V01,Year 0,0.5,Maxi,2,2,Yearly,No,WorkPrivate,92026,No,37,0,M,NaN,18,0,11.0,1991,150,Gasoline,BMW,Z3,12,11,210,Tourism,28661,1270
3,A00000004,V01,A00000004-V01,Year 0,0.5,Median2,22,1,Yearly,No,WorkPrivate,78537,Yes,81,21,M,F,54,3,16.0,1781,90,Gasoline,VOLKSWAGEN,GOLF,18,15,180,Tourism,14407,1020
4,A00000005,V01,A00000005-V01,Year 0,0.5,Maxi,16,4,Biannual,No,Retired,38544,Yes,62,68,F,M,37,48,11.0,1598,108,Gasoline,RENAULT,LAGUNA,13,11,195,Tourism,16770,1230

In [6]:
data_prospect1.head()

,id_client,id_vehicle,id_policy,id_year,pol_bonus,pol_coverage,pol_duration,pol_sit_duration,pol_pay_freq,pol_payd,pol_usage,pol_insee_code,drv_drv2,drv_age1,drv_age2,drv_sex1,drv_sex2,drv_age_lic1,drv_age_lic2,vh_age,vh_cyl,vh_din,vh_fuel,vh_make,vh_model,vh_sale_begin,vh_sale_end,vh_speed,vh_type,vh_value,vh_weight
0,A00000001,V01,A00000001-V01,Year 1,0.5,Maxi,30,10,Biannual,No,Retired,36233,No,86,0,M,NaN,63,0,11,1587,98,Gasoline,PEUGEOT,306,11,10,182,Tourism,20700,1210
1,A00000002,V01,A00000002-V01,Year 1,0.5,Maxi,4,2,Biannual,No,Retired,92073,No,70,0,M,NaN,40,0,5,2149,170,Diesel,MERCEDES BENZ,C220,5,3,229,Tourism,34250,1510
2,A00000003,V01,A00000003-V01,Year 1,0.5,Maxi,3,3,Yearly,No,WorkPrivate,92026,No,38,0,M,NaN,19,0,12,1991,150,Gasoline,BMW,Z3,13,12,210,Tourism,28661,1270
3,A00000004,V01,A00000004-V01,Year 1,0.5,Median2,23,2,Yearly,No,WorkPrivate,78537,Yes,82,22,M,F,55,4,17,1781,90,Gasoline,VOLKSWAGEN,GOLF,19,16,180,Tourism,14407,1020
4,A00000005,V01,A00000005-V01,Year 1,0.5,Maxi,17,5,Biannual,No,Retired,38544,Yes,63,69,F,M,38,49,12,1598,108,Gasoline,RENAULT,LAGUNA,14,12,195,Tourism,16770,1230

# Construction de la base d'apprentissage

Il s'agit de faire un merge entre la base sinistre et la base prospect. Toutefois l'opération de jointure à effectuer est différente de celle faite pour la modélisation du coût moyen...

# Modélisation

...

# Export de la prédiction en .csv

A partir d'un array `numpy` qui contient vos prédiction,

In [7]:
pred = np.random.random(100000)

construire un dataframe `pandas` qui a la forme souhaitée,

In [8]:
mes_predictions = pd.DataFrame({'id_policy' : data_prospect1.id_policy.values, 'prediction' : pred})

In [9]:
mes_predictions.head()

       id_policy  prediction
0  A00000001-V01    0.439892
1  A00000002-V01    0.301883
2  A00000003-V01    0.601861
3  A00000004-V01    0.125307
4  A00000005-V01    0.149961

Puis utiliser la méthode `"to_csv"` des dataframe `pandas` pour exporter le dataframe en fichier ".csv"

In [10]:
mes_predictions.to_csv("mes_predictions_yohann.csv")

Le fichier .csv enregistré dans le répertoire courant comporte alors les 2 colonnes souhaitées + une colonne qui donne l'indice des lignes