In [2]:
# Exo 1.
# En python l'opérateur puissance est "**"

n = 32
# ----------------------------------------------------
if (2**n > 10**9):
    print("2^n est strictement supérieur à 10^9")
else :
    print("2^n est inférieur ou égal à 10^9")

2^n est strictement supérieur à 10^9

In [8]:
# Exo 2.
a = 6
b = 4
# ----------------------------------------------------
if a > b :
    c = a
    a = b
    b = c
    print("'a' vaut désormais", a)
    print("'b' vaut désormais", b)

'a' vaut désormais 4
'b' vaut désormais 6

In [9]:
# Exo 3.

mot = input()
# -------------------------------------
s = mot
i = 0
while s != "" :
    s = s[:-1]
    i += 1
print("le nombre de caractères dans '",mot,"' est : ", i, sep = "")

le nombre de caractères dans '' est : 0

In [10]:
# Exo 4.
for i in range(1,11):
    print("27 *", i, "=", 27 * i)

27 * 1 = 27
27 * 2 = 54
27 * 3 = 81
27 * 4 = 108
27 * 5 = 135
27 * 6 = 162
27 * 7 = 189
27 * 8 = 216
27 * 9 = 243
27 * 10 = 270

In [11]:
# Exo 5.
u = 0
v = 1
# ----------------------------------
print("Fibo 0 :", u)
print("Fibo 1 :", v)
for i in range(18):
    c = u + v
    u = v
    v = c
    if ((c % 3) == 0):
        print("Fibo",i+2,":",c,"(*)")
    else:
        print("Fibo",i+2,":",c)

Fibo 0 : 0
Fibo 1 : 1
Fibo 2 : 1
Fibo 3 : 2
Fibo 4 : 3 (*)
Fibo 5 : 5
Fibo 6 : 8
Fibo 7 : 13
Fibo 8 : 21 (*)
Fibo 9 : 34
Fibo 10 : 55
Fibo 11 : 89
Fibo 12 : 144 (*)
Fibo 13 : 233
Fibo 14 : 377
Fibo 15 : 610
Fibo 16 : 987 (*)
Fibo 17 : 1597
Fibo 18 : 2584
Fibo 19 : 4181

In [12]:
# Exo 6.

n = int(input("Entrer un nombre de secondes :")) # les valeurs saisies avec "input" sont considérées de type "str"
# -----------------------------------------

save = n
nb_annees = n // (365 * 24 * 3600)
n = n - nb_annees * (365 * 24 * 3600)
nb_jours = n // (24 * 3600)
n = n - nb_jours * (24 * 3600)
nb_heures = n // 3600
n = n - nb_heures * 3600
nb_minutes = n // 60
nb_secondes = n - nb_minutes * 60


print(save, "secondes correspond a", nb_annees,"annees,", nb_jours, "jours,", nb_heures, "heures,",
      nb_minutes, "minutes et", nb_secondes, "secondes")

Entrer un nombre de secondes :245
245 secondes correspond a 0 annees, 0 jours, 0 heures, 4 minutes et 5 secondes